# Khipus.ai
## Fundamentals of Data Science 
### Python basics:
<span>© Copyright Notice 2025, Khipus.ai - All Rights Reserved.</span>

# Print Statement

The print statement outputs text or variables to the console

Example:

In [1]:
# Print Statement
print('Hello, World!')

Hello, World!

# Most used Python Data types

## str (String)
Represents textual data.
Strings are immutable (cannot be changed after creation).
Defined using single ('), double ("), or triple quotes (''' or """`).
Example:

In [1]:
text = "Hello, World!"

## Numeric Types
### int (Integer):
Whole numbers, positive or negative, without a fractional part.

### float (Floating-Point Number):
Numbers with a decimal point or in exponential form.

### complex (Complex Number):
Numbers with a real and an imaginary part (e.g., 3 + 4j).
Example:

In [2]:
x = 42        # int
y = 3.14      # float
z = 1 + 2j    # complex

## Note:

Mutable objects can be changed after they are created

Immutable objects cannot be changed after they are created.

## Sequence Types
### list:
An ordered, mutable collection of items.
### tuple:
An ordered, immutable collection of items.
### range:
Represents an immutable sequence of numbers, typically used in loops.

Example:

In [3]:
my_list = [1, 2, 3]  # list
my_tuple = (1, 2, 3) # tuple
my_range = range(5)  # range (0 to 4)

## dict (Dictionary)
Represents a collection of key-value pairs.

Keys must be unique and immutable (e.g., strings, numbers, or tuples).

Values can be of any type.

Example:

In [4]:
my_dict = {"name": "Alice", "age": 30}

## bool (Boolean)
Represents logical values: True or False.

Often used in conditions and comparisons.

Example:

In [6]:
is_valid = True

# Variables

A variable is a named storage location in memory that holds a value which can be changed during program execution.

In Python no command for declaring a variable.​

A variable is created at the time of initializing it.

In [9]:
x = 5
y = "John"
print(x)
print(y)

5
John

We can change type after being set.

In [7]:
x = 4       # x is of type int​
x = "Sally" # x is now of type str​
print(x)

Sally

Casting: converting it from one data type to another. 

Example: turning a string into an integer.

In [13]:
x = str(3) #vconverts the integer 3 to a string, so x will be '3'.
y = int(3) # keeps the integer 3 as an integer, so y will be 3.
z = float(3) # converts the integer 3 to a floating-point number, so z will be 3.0.

print(x, type(x))  # <class 'str'>
print(y, type(y))  # <class 'int'>
print(z, type(z))  # <class 'float'>

3 <class 'str'>
3 <class 'int'>
3.0 <class 'float'>

# Basic Arithmetic

In [2]:
# Basic Arithmetic

# Define variables
a = 5
b = 3

# Addition
print(a + b)

# Subtraction
print(a - b)

# Multiplication
print(a * b)

# Division
print(a / b)

8
2
15
1.6666666666666667

# Basic structures

### List​

A way to give a single name to a collection of values.​

It can contain different types of values, including other lists​

​

### Array​

A collection of values.

An array can hold only one type of data, making it a compact and efficient structure.

## List manipulation
List manipulation involves modifying, accessing, or rearranging elements within a list.

In [18]:
# Define a list of fruits
fruits = ['apple', 'banana', 'cherry']

# Print the entire list
print(fruits)

# Print the first element of the list
print(fruits[0])

['apple', 'banana', 'cherry']
apple
['banana', 'cherry']

### Index:
The index on a list is the position number of an element within the list, starting from 0 for the first element.

### Slice notation

In Python, slice notation is used to get a part of a sequence (like a list). The syntax is sequence[start:stop:step]:

start: where to begin (inclusive).

stop: where to end (exclusive).

step: how many items to skip (optional).

Examples:

sequence[1:3] gets items at index 1 and 2.

sequence[:3] gets items from the start to index 2.

sequence[1:] gets items from index 1 to the end.

In [21]:
Names = ['Alice', 'Bob', 'Charlie']
print(Names[1:3]) # Print the second and third elements of the list (items at index 1 and 2)
print(Names[:3])  # Print the items from the start to index 2.
print(Names[1:])  # Print the items from index 1 to the end of the list.

['Bob', 'Charlie']
['Alice', 'Bob', 'Charlie']
['Bob', 'Charlie']

### List manipulation (continued)​
Change element​

​Add element to list

Remove elements

In [30]:
cities = ['New York', 'Paris', 'London']
print(cities)
cities [2] = 'Lima' # Replace the item at index 2
print(cities)

['New York', 'Paris', 'London']
['New York', 'Paris', 'Lima']

In [31]:
cities.append('Tokyo') # Add a new item to the end of the list
print(cities)

['New York', 'Paris', 'Lima', 'Tokyo']

In [33]:
cities.remove('Paris') # Remove the item 'Paris' from the list | del cities[2] # Remove the item at index 2
print(cities)

['New York', 'Lima', 'Tokyo']

# Loops
for i in range(5):
    print(i)

In [ ]:
# Loops

# Using a for loop to print numbers from 0 to 4
for i in range(5):
    print(i)

# Functions
def greet(name):
    return f'Hello, {name}!'

print(greet('Alice'))

In [14]:
# Functions

# Define a function to greet a person by name
def greet(name):
    return f'Hello, {name}!'

# Call the function and print the result
print(greet('Alice'))

Hello, Alice!